.plan-trip-container {
  background-image: url('../assets/images/mountain_background2.jpg'); /* or use imported image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.section-one {
  background: transparent;
  padding: 50px;
}

.section-two {
  background: transparent;
  padding: 50px;
  margin-top: -10px; /* overlap slightly so background looks continuous */
}
